.chat-offcanvas {
  position: fixed;
  bottom: 90px;
  right: -400px;       
  width: 350px;
  height: 420px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  opacity: 0;          /* Invisible al comienzo */
}

/* Abrir */
@keyframes slideIn {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

/* Cerrar */
@keyframes slideOut {
  from {
    right: 20px;
    opacity: 1;
  }
  to {
    right: -400px;
    opacity: 0;
  }
}

/* Abierto */
.chat-offcanvas.open {
  animation: slideIn 0.4s ease forwards;
}

/* Cerrando */
.chat-offcanvas.closing {
  animation: slideOut 0.4s ease forwards;
}

/*Animación de pensar*/
.loading-dots span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  animation: blink 1s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}